body{
    background: url(/day30/HomeWork/goa.jpg);
}
select{
    color: orange;
    background-color: green;
}
p{
    color: green;
}
.box{
    box-shadow: 2px 2px 2px 2px green;
    width: 500px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    text-align: center;
    color: white;
}
video{
    width: 500px;
}
source{
    display: flex;
    justify-content: center;
    align-items: center;
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
}