body{
    background-color: darkred;
    color: white;
}
.block{
    background-color: rgb(35, 31, 31);
    height: 350px;
    border-radius: 25px;
}
.contact{
    position: absolute;
    top: 40px;
    right: 30px;
}
input{
    width: 500px;
    background: transparent;
}
#t3{
    height: 100px;
}
h1{
    position: absolute;
    top: 80px;
    left: 50px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: rgb(35, 31, 31);
    color: white;
    width: 250px;
    height: 30px;
}