body{
    background-color: orangered;
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.navbar{
    background-color: white;
}
ul,li, a{
    display: flex;
    justify-content: space-around;
}
header{
    display: flex;
    justify-content: space-between;
}
ul, i{
    cursor: pointer;
}
select{
    border: none;
}
button{
    box-shadow: 2px 2px 2px 2px yellow;
    border: none;
    width: 100px;
}