.box{
    text-align: center;
    background-color: green;
    width: 400px;
}
input{
    width: 150px;
    color: green;
}
label{
    color: orangered;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border-radius: 15px;
    background-color: green;
    color: orangered;
}