.box{
    box-shadow: 1px 1px 1px 1px black;
    text-align: center;
}
.smallbox{
    background-color: rgba(128, 128, 128, 0.663);
    text-align: left;
    box-shadow: 1px 1px 1px 1px black;
}