@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
p{
    font-family: "Rubik Bubbles";
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: green;
    text-decoration-style: dashed;
    font-size: 25px;
    color: red;
}
body{
    background: url(Jonathan_G_Meath_portrays_Santa_Claus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}